/* Includes
--------------------------------*/
@import 'reset.css';

/* Defines
--------------------------------*/
@blue = #3795cc;
@red = #f42444;
@gray = #d9d9d9;
@pie = url(@{webroot}/css/pie.htc);
@border_box = url(@{webroot}/css/boxsizing.htc);

/* Functions
--------------------------------*/
.border-radius (@radius) {
	behavior: @pie;
	border-radius: @radius;
	-o-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.box-shadow (@value: 1px 1px 1px #ccc) {
	behavior: @pie;
	box-shadow: @value;
	-o-box-shadow: @value;
	-moz-box-shadow: @value;
	-webkit-box-shadow: @value;
}

/* General
--------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: @border_box;
}

body {
	background: #fff;
	font-size: 13px;
	font-family: Arial;
	color: #000;
}

pre {
	font-family: Monospace;
	border: 1px dotted #aaa;
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	float: left;
	position: relative;
	z-index: 400;
}

a {
	color: @blue;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* Clears
--------------------------------*/
.c {
	clear: both;
	line-height:0;
	height:0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}

/* Headings
--------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #111;
}
h1 {
	font-size: 32px;
	line-height: 36px;
	margin-bottom: 18px;
	color: #5b5b5b;
}
h2 {
	font-size: 23px;
	line-height: 36px;
	margin-top: 18px;
	color: #5b5b5b;
}
h3 {
	font-size: 21px;
	line-height: 36px;
	margin-top: 18px;
	color: #5b5b5b;
}
h4 {
	font-size: 19px;
	line-height: 36px;
	margin-top: 18px;
}
h5 {
	font-size: 17px;
	line-height: 18px;
	margin-top: 18px;
}
h6 {
	font-size: 15px;
	line-height: 18px;
	margin-top: 18px;
}

/* Lists
------------------------------*/
ol {list-style: decimal;}
ul {list-style: disc;}
li {margin-left: 20px;}

/* Global elements
------------------------------*/
.button {
	.border-radius(5px);
	color: #000;
}

/* Page
------------------------------*/
#container {
	margin: 20px auto;
	width: 900px;
	border: 1px solid @gray;
}

#content {
	padding: 10px;
}

/* App
------------------------------*/
#panels .tabs a {
	float: left;
	padding: 7px 50px;
	border: 1px solid @gray;
	margin-right: 3px;
	.border-radius(4px 4px 0 0);
	position: relative;
	z-index: 2;
	background: #fff;

	&.active {
		border-bottom: 1px solid #fff;
	}
}

#panels .panels {
	border: 1px solid @gray;
	height: 300px;
	margin-top: -1px;
	position: relative;
	z-index: 1;

	.panel {
		display: none;

		&.visible {
			display: block;
		}
	}
}