/* Includes
--------------------------------*/
@import 'bootstrap.css';
@import '../fonts/steelfish/stylesheet.css';
@import '../fonts/droid-serif/stylesheet.css';

/* Defines
--------------------------------*/
@pie = url(@{webroot}/css/pie.htc);
@border_box = url(@{webroot}/css/boxsizing.htc);
@red = #c02727;
@darkish_red = #6b0505;

/* Functions
--------------------------------*/
.border-radius (@radius) {
	behavior: @pie;
	border-radius: @radius;
	-o-border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.box-shadow (@value: 1px 1px 1px #CCCCCC) {
	behavior: @pie;
	box-shadow: @value;
	-o-box-shadow: @value;
	-moz-box-shadow: @value;
	-webkit-box-shadow: @value;
}

.transition (@value) {
	transition: @value;
	-o-transition: @value;
	-moz-transition: @value;
	-webkit-transition: @value;
}

/* Page
------------------------------*/
html, body {
	height: 100%;
}

body {
	background: url(../img/bg.png);
	.box-shadow(inset 0 0 100px rgba(0, 0, 0, .3));
	min-height: 500px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	a.ribbon {
		position: inherit;
		top: -8px;
		left: 80px;
	}
}

/* Misc
------------------------------*/
.focused {
	outline: 0;
	.box-shadow(inset 0 0 100px rgba(107, 5, 5, .9)!important);
	.transition(all .2s ease-in-out);
}

/* App
------------------------------*/
body {
	overflow-x: hidden;
}

#container, section#content {
	height: 100%;
	width: 100%;
	text-align: center;
	position: relative;
}

#droplet {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	min-height: 500px;
	.transition(all .2s ease-in-out);
	overflow-x: hidden;

	form#picker {
		position: absolute;
		top: 50%;
		margin-top: -100px;
		line-height: 100px;
		font-size: 70px;
		font-family: 'SteelfishRegular';
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;

		.file-input {
			position: relative;
			overflow: hidden;
			display: inline-block;
			cursor: pointer;
			color: @darkish_red;
			.transition(all .4s ease-in-out);

			&:hover {
				.transition(all .3s ease-in-out);
				color: @red;
			}

			input {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				border: solid transparent;
				opacity: 0;
				filter: alpha(opacity=0);
				-webkit-transform: translate(-300px, 0) scale(4);
				-moz-transform: translate(-300px, 0) scale(4);
				-o-transform: translate(-300px, 0) scale(4);
				transform: translate(-300px, 0) scale(4);
				direction: ltr;
				cursor: pointer;
				border-width: 0 0 100px 200px;
				height: 300px;
			}
		}
		
		.drop-text {
			display: inline-block;
			background: url(../img/star.png) no-repeat left center;
			padding-left: 23px;
			position: relative;
			overflow: hidden;
		}
	}

	div#progress {
		display: none;
		position: absolute;
		width: 300px;
		height: 103px;
		top: 50%;
		left: 50%;
		margin-top: -90px;
		margin-left: -150px;

		canvas {}

		#percent {
			width: 48px;
			height: 48px;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -22px;
			margin-top: -24px;
			line-height: 48px;
			text-align: center;
			font-family: 'SteelfishRegular';
			text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
			font-size: 26px;
		}
	}
	
	div#info {
		position: absolute;
		top: 303px;
		font-size: 11px;
		.border-radius(4px);
		padding: 15px 10px;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		background-color:rgba(0,0,0,0.5);
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
	}

	h3 {
		margin-left: 20px;
		font-size: 20px;
		line-height: 25px;
		float: left;
		font-weight: normal;
	}
}

#file-list {
	.file {
		padding: 7px 14px;
		margin: 0 0 8px;
		list-style: none;
		background-color: #fbfbfb;
		background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
		background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
		background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
		background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
		background-image: linear-gradient(top, #ffffff, #f2f2f2);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
		border: 1px solid #ddd;
		.border-radius(3px);
		.box-shadow(inset 0 1px 0 #ffffff);

		div.thumbnail {
			background-color: #fff;
			float: left;
		}

		div.info {
			float: left;
			margin-left: 10px;
			width: 458px;

			.progress-placeholder {
				margin-bottom: 7px;

				&.error {
					height: auto;
				}

				.progress {
					margin-bottom: 0;

					.bar {
						overflow: hidden;
					}
				}

				.alert {
					margin-bottom: 0;
				}
			}

			.caption, .size {
				height: 18px;
			}

			.controls {
				margin-top: 7px;
			}
		}
	}
}

#slides {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #fff;
	display: inline-block;
	.box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 6px);
	height: 90%;
	min-height: 500px - 80px - 6px - 2px;
	.border-radius(3px);
	position: relative;
	
	&.fullscreen {
		width: 100%;
		text-align: center;
		display: block;
		margin: 0;
		height: 100%;
		
		div.slide {
			margin: 0 auto;
		}
	}
	
	#messages {
		position: absolute;
		top: -1px;
		left: -72px;
		
		div {
			width: 61px;
			height: 61px;
			background: black;
			margin-bottom: 9px;
			border: 1px solid #ccc;
			.box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 6px);
			.border-radius(3px);
			display: none;
			
			&.active {
				display: block;
			}
			
			&.stop {
				background: url(../img/pause.png) no-repeat;
			}
			
			&.question {
				background: url(../img/question.png) no-repeat;
			}
		}
	}
	
	div.slide {
		display: none;
		height: 100%;
		
		&.active {
			display: block;
		}
		
		img {
			min-height: 500px - 80px - 6px - 2px;
			height: 100%;
			margin: 0 auto;
		}
	}
}

#codes {
	position: absolute;
	float: right;
	right: 50px;
	top: 20px;
	z-index: 99;
	opacity: .1;

	&.focus {
		opacity: 1;
		cursor: none;
	}

	.qr {
		border: 1px solid #ccc;
		padding: 3px;
		background-color: #fff;
		display: inline-block;
		.box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 6px);
		.border-radius(3px);
		cursor: none;
	}
	
	span {
		display: block;
		font-size: 72px;
		font-family: 'SteelfishRegular';
		text-transform: uppercase;
		line-height: 80px;
		text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
	}
}

/* On
------------------------------*/
#on {
	padding-top: 10px;
	
	form {
		background: url(../img/star.png) no-repeat bottom center;
		padding-bottom: 25px;
	
		input {
			padding: 10px 0;
			border: 1px solid #ccc;
			margin-bottom: 10px;		
			background-color: #fff;
			.box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 2px);
			.border-radius(3px);
			text-transform: uppercase;
			font-family: 'SteelfishRegular';
			text-align: center;
			color: #333;
			font-size: 40px;
			width: 100%;
			text-align: center!important;
			line-height: 48px;
			text-transform: uppercase;
			height: 45px;
		}
	}

	.on-btn {
		display: block;
		padding: 25px 0;
		border: 1px solid #ccc;
		margin-bottom: 10px;		
		background-color: #fff;
		.box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 2px);
		.border-radius(3px);
		text-transform: uppercase;
		font-family: 'SteelfishRegular';
		text-align: center;
		text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
		color: #333;
		font-size: 40px;
		
		&:hover {
			text-decoration: none;
		}
	}
}

/* Media Queries
------------------------------*/
@media (max-width: 979px) {
	body {
		.box-shadow(none);
		min-height: 0!important;
		padding: 0 5px!important;
		
		header {
			display: none;
		}
		
		
		#slides {
			min-height: 0!important;
			padding: 0;
			margin-top: 5px;
		
			img {
				height: auto!important;
				min-height: 0!important;
				width: 100%!important;
			}
		}
	}
}